
.titulo{
    margin-top: 5rem;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.botaoQr{
    margin-top: 1rem;
    margin-bottom: 5rem;
}

@media (max-width: 426px) {
    .corpo{
        background-color: #F77CA8;
        margin: 0;

    }

    .titulo{
        margin-top: 0;
    }


}