.doacao {
    background-color: transparent;
    border: 1px solid #F69B2F;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    color: #F69B2F;
    font-weight: 700;
    font-size: 0.8rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.doacao:hover {
    background-color: #F69B2F;
    color: white;
}

.voluntario{
    background-color: transparent;
    border: 1px solid #F65682;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    color: #F65682;
    font-weight: 700;
    font-size: 0.8rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.voluntario:hover{
    background-color: #F65682;
    color: white;
}

.voluntariadoFeito {
    background-color: #f65682;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 20px;
    cursor: default;
    font-weight: 600;
    font-size: 13px;
    opacity: 0.8;
}